@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: "Roboto", sans-serif !important;
    margin: 0px;
}

.paragraphtxt{
    width: 70%;
    text-align: left;
    line-height: 32px;
    margin-left: 40px;
}
.textfield{
    margin: 10px;
    width: 100%;
    box-shadow: 0px 18px 30px 0px rgb(255 52 221 / 4%);
    border-radius: 10px;
}
.btnwidth{
    width:100%;
    text-transform: none !important;
    padding: 12px 0;
    background-color: #961f7f !important;
    
}
.btncolor{
    background-color: #961f7f !important;
}
.logoplacing{
    display: flex;
    justify-content: start;
    margin-bottom: 25px;
}
.corner-img{
    position: absolute;
    right: 0px;
    top: 0px;
}
.fontweight{
    font-weight: 800 !important;
}
.footer{
        box-shadow: 0px -4px 30px 0px rgba(0, 0, 0, 0.1) !important;
        height: 57px;
        color: rgba(56, 56, 56, 1);
        font-weight: 300;
        font-size: 14px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0px;
        position: fixed;
}
.img-adjusment{
    width: 100%;
    height: auto;
}
.box-shadow{
    box-shadow: rgb(236 153 219 / 28%) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.cardbox{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !important;
}