@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
  margin: 0px;
}

.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}
.ant-menu-light .ant-menu-item-selected,
.ant-menu-light > .ant-menu .ant-menu-item-selected {
  color: #951b81 !important;
  background-color: transparent !important;
  font-weight: 600;
  border-radius: 0px !important;
  margin: 0px !important;
  padding-left: 0px !important;
}

li.ant-menu-item.menu-item {
  color: #b1b1b1 !important;
}

li.ant-menu-item.menu-item::before {
  background-image: unset !important;
}
.ant-menu-item {
  padding-left: 12px !important;
}
.ant-layout .ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #ffffff !important;
  transition: all 0.2s, background 0s;
}
.logosetup {
  width: 100%;
  height: 98px !important;
  object-fit: contain;
}
.ant-menu-light .ant-menu-item,
.ant-menu-light > .ant-menu .ant-menu-item,
.ant-menu-light .ant-menu-submenu-title,
.ant-menu-light > .ant-menu .ant-menu-submenu-title {
  color: #b1b1b1;
}
.ant-menu {
  font-family: "Roboto", sans-serif !important;
}
.ant-menu .ant-menu-item .ant-menu-item-icon,
.ant-menu .ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu .ant-menu-item .anticon,
.ant-menu .ant-menu-submenu-title .anticon {
  font-size: 20px !important;
}
.ant-menu-title-content {
  font-size: 16px !important;
  margin-top: 5px !important;
}
.ant-menu-inline .ant-menu-item {
  height: 52px !important;
}

.ant-menu-light .ant-menu-item-selected::before {
  content: "";
  display: inline-block;
  width: 16px; /* Adjust the width of the image */
  height: 100%; /* Make the image fill the entire height of the menu item */
  background-image: url("../../assets/images/line.png") !important; /* Replace with the path to your image */
  background-size: contain; /* Ensure the image is fully contained */
  background-repeat: no-repeat;
  margin: 0px; /* Adjust the margin as needed */
  padding-left: 0px !important;
}

.mobileSidebarList .ant-menu-item-selected::before {
  background-image: none !important;
}

.ant-drawer-body .ant-menu {
  border-inline-end: none !important;
}

.ant-layout-sider-collapsed li.ant-menu-item span {
   position: relative;
   left: 7px;
}

.ant-menu-light .ant-menu-item-selected {
  position: relative;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.anticon.anticon-menu-fold, span.anticon.anticon-menu-unfold {
  font-size: 25px !important;
}

button.ant-btn.ant-btn-text.ant-btn-icon-only.collapsedButton:hover {
  background: transparent !important;
}

.ant-layout-sider-collapsed .ant-layout-sider-children ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light.ant-menu-inline-collapsed.css-dev-only-do-not-override-1uweeqc .ant-menu-item.ant-menu-item-selected span {
  position: relative;
  bottom: 12px !important;
}

aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed {
  flex: 0 0 50px !important;
  width: 70px !important;
  min-width: unset !important;
  max-width: unset !important;
}

.mobileSidebar {
  display: none;
}

.ant-drawer {
  display: none !important;
}

.ant-drawer-header {
  background-color: transparent; 
  height: 84px;
  background-image: url("../../assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: 72%;
  background-position: left center;
}

.ant-drawer-header-title {
  display: none;
  height: 70px !important
}

.ant-drawer-title {
  display: none;
}

.closeIcon {
  position: absolute;
  right: 7%;
  top: 3.7%;
  font-size: 20px;
  cursor: pointer;
}

.mobileSidebarList {
  padding-inline-start: 0 !important;
  margin: 0;
}

.mobileSidebarList li {
  list-style-type: none;
  color: #b1b1b1;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
}

.mobileSidebarIcon .anticon {
  color: #b1b1b1;
}

.ant-drawer-body {
  padding-left: 12px !important;
}


@media screen and (max-width: 575px) {
  aside.ant-layout-sider {
    display: none !important;
  }

  .mobileSidebar {
    display: block !important;
    font-size: 20px;
  }

  .ant-drawer {
    display: block !important;
  }
}
