.chart_box {
    background-color: #fff;
    padding: 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.router_name {
    line-height: 33px;
    font-size: 26px;
    color: #232323;
    font-family: "Inter", sans-serif !important;
    padding-left: 20px;
    
}

.header_section {
    padding: 18px 34px;
}



.header_right_section {
    gap: 30px;
}

.header_right_section div {
    cursor: pointer;
}
.custom-margin-top {
    margin-top: 20px;
  }